body {
    margin-bottom: 53px;
}

.question-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding: 10px;
}

.switch-wrapper {
    display: flex;
    gap: 10px;
}

@media (max-width: 600px) {
    .switch-wrapper {
        flex-direction: column;
        align-items: center;
    }
}